*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./page.png");
    background-repeat: repeat;
}

canvas {
    border: none !important;
    outline: none !important;
}

.container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px #000;
    height: 720px;
}


